    
<div class="container-fluid g-0">
    <app-header (sideNavToggled)="sideNavStatus = $event;"></app-header>
    <main>
        <app-side-nav [sideNavStatus]="sideNavStatus" [ngClass]="
        {'app-side-nav-open': sideNavStatus}"> </app-side-nav>
        <div class="display-area p-3" [ngClass]="
        {'display-are-shrink': sideNavStatus}">
        <img src="assets/South-Indian-Platter.jpg" class="rounded float-center" alt="Responsive image" style="margin-left:auto">
            
        </div>
    </main>
    
</div>
<router-outlet></router-outlet>